main{
    border: 2px solid black;
    background-color: rgba(62, 87, 141, 0.692);
}

.casa{
    border: 1px solid rgb(255, 255, 255);
    width: 150px;
    height: 150px;  
    font-size: 80px;
    color: aliceblue;
    text-align: center; 
    line-height: 130px;
}
.linha{
    display: grid;
    grid-template-columns: 150px 150px 153px;
}
body{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.butao{
    height: 30px;
    width: 80px;
    background-color: white;
    margin: 10px;
    border: solid 1px black;
}
